---
---
<!DOCTYPE html>
<html lang="en-US">

{% include head.html %}

<body>

  {% include header.html %}

  <div class="hero-container"></div>
  <div class="hero-overlay">
    <div class="hero-triangle"></div>
    <div class="hero-text">
      <div class="salutation">
        <h1>Hi, I'm Kristian Snyder.</h1> <img src="img/headshot.jpg" alt="Photo of Kristian">
      </div>
      <div class="about">
        {% include about-me-short.html %}
      </div>
      <div class="icons flex-container-center">
        {% assign icons = site.icons %}
        {% for icon in icons %}
          <div class="icon flex-container-center">
            <a href="{{ icon.href }}" class="icon-link flex-child flex-container-space-between">
              <div class="{{ icon.class }} icon-glyph flex-child"></div>
              <div class="icon-name flex-child">{{ icon.name }}</div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="page-content">
    <a name="projects"></a>
    <div class="dark-container">
      <div class="body-width-container">
        <h1 class="projects-header">Projects</h1>
        <div class="flex-container-center">
          {% assign projects = site.projects | sort: 'sort-order' %}
          {% for project in projects %}
          <div class="project">
            <div class="project-text">
              <h1 class="project-title"><a href="{{ project.project-url }}">{{ project.title }}</a></h1>
              <p class="project-description">
                {{ project.output }}
              </p>
            </div>
            <a href="{{ project.project-url }}" class="project-image-link">
              <img srcset="{{ project.image }}" sizes="(max-width: 768px) 90vw, 25vw" class="project-image">
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="light-container">
      <div class="body-width-container">
        <h1 class="section-header"><a name="experience"></a>Experience</h1>
        <div class="flex-container-space-between">
          {% assign jobs = site.jobs | sort: 'start-date' | reverse %}
          {% for job in jobs %}
          <div class="job">
            <h3 class="job-company">{{job.company}}</h3>
            <div class="flex-container-space-between job-company-container">
              <span class="flex-child"><span><h6 class="job-title">{{job.title}}</h6></span>
              <span class="flex-child" class="job-time">{{job.time}}</span>
            </div>
            <hr>
            <h5 class="tools-header">Tools/Languages</h5>
            <div class="flex-container-left flex-container-tags">
              {% for tool in job.tools %}
              <span class="job-tool">
                {{tool}}
              </span> {% endfor %}
            </div>
            <p class="job-description">{{job.output}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="dark-container">
      <div class="body-width-container">
        <h1 class="section-header">Recent Posts</h1>
         {% include recent-posts.html %}
      </div>
    </div>
    <div class="light-container">
      <div class="body-width-container contact">
        <a name="contact"></a>
        <p>
          {% include contact-me.html %}
        </p>
      </div>
    </div>
  </div>

  {% include footer.html %}

</body>

</html>
