<p>
    I'm a <a href="https://github.com/{{site.github_username}}">developer</a>
    and software architect at GE Aviation.
    I've worked in full-stack web and application development with 
    <a href="https://golang.org">Go</a>, Java, and TypeScript and have
    designed and built a high-scale secure operational technology network 
    for military compliance. If these sound up your alley, send me a note at 
    <a href="mailto:contact@kristiansnyder.com">contact@kristiansnyder.com</a>!
</p>
