<p>
    I'm a <a href="https://github.com/{{site.github_username}}">software engineer</a>
    at Cash App Taxes, responsible for a high-scale tax user data web service serving thousands of requests per second and
    working on the tax calculation engine that allows millions of Cash App users to file their taxes completely free!
    I have over 5 years of experience in software engineering in backend development and infrastructure design. 
    If you'd like to talk about a new opportunity, send me a note at 
    <a href="mailto:contact@kristiansnyder.com">contact@kristiansnyder.com</a>!
</p>
