<p>
    I'm a <a href="https://github.com/{{site.github_username}}">developer</a> and computer 
    science student at the <a href="http://uc.edu">University of Cincinnati</a>, expecting 
    to graduate in spring 2020.
    I've worked in full-stack web and application development with 
    <a href="https://golang.org">Go</a>, Java Spring Boot, TypeScript on 
    <a href="https://aws.amazon.com/lambda/">AWS Lambda</a>, and JavaScript frameworks 
    like <a href="https://vuejs.org">Vue.js</a>.
</p>
<p>
    At the moment, I'm interested in security, high performance web applications, serverless development, and web infrastructure.
</p>
