<head>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %}</title>
  <link rel="stylesheet" href="{{site.url}}/css/main.css"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway:900|Inconsolata|Titillium+Web:400,400i,600,700,900" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/img/favicon.ico"/>
</head>
