$header-margin: 10%;

$header-height: 72px;
$header-border: 2px;

header {
  width: 100%;
  padding: 0 10%;
  height: $header-height;
  background-color: $header-bg;
  display: flex;
  justify-content: space-between;
  border-bottom: $header-border solid $header-font-color;
  font-family: $header-font-family;
  color: $header-font-color;
  position: relative;
  z-index: 3;
}

$slash-width: 15px;

.slash {
  position: absolute;
  height: $header-height - $header-border;
  width: $slash-width;
  -moz-transform: skew(-15deg);
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
}

.first-slash {
  background-color: $accent-1;
  width: 40px;
  left: -$slash-width;
}
.second-slash {
  background-color: $accent-2;
  left: $slash-width * 1.5;
}
.third-slash {
  background-color: $accent-3;
  left: $slash-width * 2.5;
}
.fourth-slash {
  background-color: $accent-4;
  left: $slash-width * 3.5;
}

.left-logo {
  align-self: center;
  position: relative;
  font-size: $base-font-size * 1.2;
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    text-decoration: none;
    color: $dark-accent;
  }
  z-index: 4;
}

.top-left-logo {
  position: absolute;
  top: $base-font-size * 0.4;
  left: 0;
}

.middle-slash {
  font-weight: 300;
  font-size: $base-font-size * 2.5;
  margin: $base-font-size $base-font-size * 0.1;
}

.bottom-right-logo {
  position: absolute;
  bottom: $base-font-size * 0.4;
  right: 0;
}

.navbar {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: $base-font-size * 1.2;
  font-weight: $header-font-weight;
}

.nav-item {
  margin: 0;
  margin-right: 10px;
  list-style-type: none;
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    text-decoration: underline;
    color: inherit;
  }
}

.nav-item:first-child {
  margin-left: 10px;
}

@media (max-width: 800px) {
  .navbar {
    font-size: 16px * 1.2;
  }
  header {
    padding: 0 5%;
  }

  $larger-slash-width: 30px;
  .first-slash {
    width: $larger-slash-width + 25px;
    left: -$larger-slash-width + 20px;
  }
  .second-slash {
    width: $larger-slash-width;
    left: $larger-slash-width * 1.5;
  }
  .third-slash {
    width: $larger-slash-width;
    left: $larger-slash-width * 2.5;
  }
  .fourth-slash {
    width: $larger-slash-width;
    left: $larger-slash-width * 3.5;
  }
  .left-logo {
    color: $header-bg;
  }
}

@media (max-width: 470px) {
  .navbar {
    display: none;
  }
  header {
    justify-content: center;
  }
  $largest-slash-width: 28%;
  $left-offset: 3%;
  .first-slash, .second-slash, .third-slash, .fourth-slash {
    width: $largest-slash-width;
  }

  .first-slash {
    left: -$left-offset;
  }
  .second-slash {
    left: $largest-slash-width - $left-offset;
  }
  .third-slash {
    left: $largest-slash-width * 2 - $left-offset;
  }
  .fourth-slash {
    left: $largest-slash-width * 3 - $left-offset;
  }
  .left-logo {
    color: $header-bg;
  }
}
