$header-margin: 10%;

header {
  width: 100%;
  padding: 0 10%;
  background-color: $header-bg;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.7);
  color: $header-font-color;
  position: relative;
  z-index: 3;
}

.left-logo {
  align-self: center;
  position: relative;
  font-size: $base-font-size * 1.2;
  a {
    color: inherit;
  }
  a:hover {
    text-decoration: none;
  }
}

.top-left-logo {
  position: absolute;
  top: $base-font-size * 0.4;
  left: 0;
}

.middle-slash {
  font-weight: 300;
  font-size: $base-font-size * 2.5;
  margin: $base-font-size $base-font-size * 0.1;
}

.bottom-right-logo {
  position: absolute;
  bottom: $base-font-size * 0.4;
  right: 0;
}

.navbar {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: $base-font-size * 1.2;
  font-weight: $header-font-weight;
}

.nav-item {
  margin: 0;
  margin-right: 10px;
  list-style-type: none;
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    text-decoration: underline;
    color: inherit;
  }
}

.nav-item:first-child {
  margin-left: 10px;
}

@media (max-width: 800px) {
  .navbar {
    font-size: 16px * 1.2;
  }
  header {
    padding: 0 5%;
  }
}

@media (max-width: 470px) {
  .navbar {
    display: none;
  }
  header {
    justify-content: center;
  }
}
