main.posts {
  background-color: $splash-bg;
  width: 80%;
  margin: auto;
  padding: 0.75em;
}

.post-excerpt {
  list-style: none;
  margin-left: 0;

  h1 {
    margin-bottom: 0;
  }
  .post-title-link a {
    text-decoration: none;
  }
  .post-title-link a:hover {
    color: $link-rollover;
    text-decoration: underline;
  }
}

.post-excerpt-light {
  list-style: none;
  margin-left: 0;

  h1 {
    margin-bottom: 0;
  }
  .post-title-link a,
  a {
    color: $link-color-light;
  }
  .post-title-link a:hover,
  a:hover {
    color: $light-text-color;
    text-decoration: none;
  }
  small {
    color: $grey-color-light;
  }
}

@media(max-width: 700px) {
  main.posts {
    width: 100%;
  }
}
