p {
  margin: 1em 0;
}

.post {
  width: 80%;
  padding-bottom: 0.75em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  max-width: 900px;
  margin: 0 auto;
  background-color: $background-color;
  position: relative;
  overflow: hidden;
}

.post-header {
  position: relative;
  background: $dark-bg-color;
  margin: 0 -0.75em;
  padding: 15px 0.75em 10px 0.75em;
  justify-content: space-between;
  color: $light-text-color;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;

  .post-title, .post-author, .post-date {
    position: relative;
    z-index: 1;
  }
  .post-title {
    margin: 0;
  }
  .post-author,
  .post-date {
    margin-top: -0.2em;
    font-size: 0.9em;
  }
  .post-date {
    margin-top: -0.8em;
    margin-bottom: 0.5em;
  }

}

$slash-post-width: 41px;

.slash-post {
  position: absolute;
  top: -10px;
  width: $slash-post-width;
  height: 500px;
  -moz-transform: skew(-15deg);
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
}

.first-slash-post {
  background-color: $accent-1;
  width: $slash-post-width * 3;
  right: -$slash-post-width * 0.5;
}
.second-slash-post {
  background-color: $accent-2;
  right: $slash-post-width * 2 - 1px;
}
.third-slash-post {
  background-color: $accent-3;
  right: $slash-post-width * 3 - 2px;
}
.fourth-slash-post {
  background-color: $accent-4;
  right: $slash-post-width * 4 - 3px;
}

.post-body {
  position: relative;
  z-index: 1;

  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.footnotes {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dashed #444;
}

.footnotes ol {
  list-style: decimal;
  margin-left: 1.1em;
}

table {
  background-color: #F2F2F2;
  text-align: left;
}
table td, table th {
  padding: 4px 4px;
}
table tr:nth-child(even) {
  background: rgb(210, 210, 210);
}
table thead {
  background: #32323C;
}
table thead th {
  font-size: 17px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: center;
  border-left: 2px solid #D8D8D8;
}
table thead th:first-child {
  border-left: none;
}

table tfoot td {
  font-size: 16px;
}

@media (max-width: 1000px) {
  .post-triangle:after {
    transform: rotate(45deg) skewX(45deg) skewY(-29deg) translateY(-68.4%);
  }
}

@media (max-width: 800px) {
  .post {
    width: 100%;
  }
  .post-header {
    padding-top: 10px;
  }
  .post-triangle {
    display: none;
  }
  .post-triangle-clipper {
    display: none;
  }
}
