$hero-side-padding: 50px;
$image-height: 800px;
$overlay-color: rgba(20, 110, 255, 0.5);
$project-header-color: #33c2ff;
$mobile-header-height: 725px;

$hero-container-height: 725px;

$job-tool-horiz-margin: 6px;

.about {
  font-size: $base-font-size * 1.25;
  font-weight: lighter;
}

.centered-form {
  text-align: center;
}

.contact {
  text-align: center;
}

.hero-container {
  width: 100%;
  background-size: cover;
  background-image: url("../img/bg-1080.jpg");
  background-color: black;
  z-index: -1; // behind everything else (default of 0)
}

.hero-overlay {
  width: 100%;
  padding-top: 20vh;
  color: $header-font-color;
  background-color: rgba(0,0,0,0.4);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero-text {
  align-self: flex-end;
  padding: 0 20%;
  font-weight: $header-font-weight;
  color: #f3f3f3;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
  a {
    color: #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
  }
  a:hover {
    text-decoration: none;
    color: $light-text-color;
    border-width: 2px;
  }
  z-index: 2;
}

.salutation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    display: block;
  }

  img {
    display: block;
    height: 150px;
    border-radius: 300px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
}

.page-content {
  margin-top: 0;
  z-index: 9;
}

.job {
  -webkit-flex-basis: 250px;
  flex-basis: 250px;
  flex: 1 0 250px;
  max-width: 500px;
  padding: 1em;
}

.dark-container {
  box-shadow: inset 0px 3px 7px black;
  background-color: $dark-bg-color;
  color: $light-text-color;

  a {
    color: $link-color-light;
  }
}

.light-container {
  background-color: transparent;
  color: $text-color;
}

.body-width-container {
  padding-top: 20px;
  padding-bottom: 20px;
  @include body-width();
}

.flex-container-left,
.flex-container-space-between,
.flex-container-center {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.flex-container-tags {
  margin-left: -$job-tool-horiz-margin;
}

.flex-container-space-between {
  justify-content: space-between;
}

.flex-container-left {
  justify-content: left;
}

.flex-container-center {
  justify-content: center;
}

.flex-child {
  align-self: center;
}

.icons {
  flex-direction: row;
}

.icon {
  display: inline-block;
  padding: 15px;

  .icon-link {
    flex-direction: column;
  }
  .icon-glyph {
    font-size: 2em;
    text-align: center;
    margin-bottom: -0.15em;
  }
  a {
    text-decoration: none;
    display: inline-block;
    border: 0;
  }
  a:hover {
    color: #f7d825;
    text-decoration: none;
    border: 0;
  }
}

form {
  margin: auto;
  display: inline-block;
}
input,
textarea {
  border: 1px $light-text-color solid;
  padding: 10px;
  margin: 10px 0;
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

textarea {
  height: 200px;
}

input[type="email"],
textarea {
  width: 300px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6) inset;
  border: none;
  max-width: 800px;
}

input[type="submit"] {
  background-color: $brand-color;
  color: white;
  border: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.job-tool {
  flex: 0 1 auto;
  padding: 1px 7px;
  margin: 3px $job-tool-horiz-margin;
  background-color: rgb(25, 130, 255);
  color: $light-text-color;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}

.job-description {
  margin-top: 5px;
}

.job-time {
  display: inline-block;
}

.job-title {
  margin-bottom: -0.1em;
}

.project {
  -webkit-flex-basis: 33%;
  flex-basis: 33%;
  flex: 1 0 33%;
  align-self: flex-start;
  margin: 15px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 66%;
}

$transition-duration: 0.5s;
$transition-type: ease;

.project-image {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.project-image-link {
  display: block;
  max-width: 50%;
}

.project-text {
  padding: 20px;
  flex: 1 1 50%;
  text-align: center;
}

.project-text-shadow {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.project-stack {
  color: black;
  font-weight: bolder;
  margin-bottom: 10px;
}

.project-title {
  font-weight: normal;
  margin: 0;
}

.project-title a {
  color: $project-header-color;
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  text-decoration: none;
}

.project-title a:hover {
  text-decoration: none;
  color: #f7d825;
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
}

.projects-header {
  text-align: center;
  margin-bottom: 0;
}

.section-header {
  text-align: center;
}

.tools-header {
  margin-bottom: 5px;
}

@media (max-width: $font-size-switch) {
  .about {
    font-size: 16px * 1.25;
  }
}

@media (max-height: 600px) {
  .hero-text {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .project-image-link {
    max-width: 100%;
  }
  .project {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .salutation {
    align-content: center;
    flex-wrap: wrap;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero-container {
    background-image: url("../img/bg-2160.jpg");
  }
}
